/.phpunit.cache
/node_modules
/vendor
/public/hot
/public/storage
/storage/*.key
/storage/pail
.env
.env.backup
.env.production
storage/app/.docker_seeded
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
.codacy/

#Ignore cursor AI rules
.cursor/rules/codacy.mdc

docs/graphify-out/
docs/**